<!-- <input type="text" [(ngModel)]="Nom">
<div>
    <button class="btn btn-primary" (click)="goToDetails()">
        Details profil
    </button>
    <button class="btn btn-success" (click)="goToView()">
        View profil
    </button>
</div> -->
<h2>With  Template Driven Forms </h2>
<form class="fHome" #f="ngForm" (ngSubmit)="add(f)">
    <div class="form-group">
      <label for="Fname">First Name</label>
      <input type="text" class="form-control" id="Fname" name="FirstName" placeholder="Enter Your first name" ngModel [ngModelOptions]="{standalone:false}"
      #firstName="ngModel" required  minlength="5" maxlength="15" #focus>
      <div class="alert alert-danger" role="alert" *ngIf="firstName.errors?.['required'] && firstName.touched || firstName.errors?.['minlength']">
        Error for First Name !
      </div>
    </div>
    <div class="form-group">
      <label for="LName">Last Name</label>
      <input type="text" class="form-control" id="LName"  name="LatName" placeholder="Enter Your last name" [(ngModel)]="hind" #k="ngModel" required>
      <div class="alert alert-danger" role="alert" [hidden]="k.valid || k.pristine">
        This Last Name is required !
      </div>
    </div>
    <div class="form-group">
        <label for="age">Last Name</label>
        <input type="number" class="form-control" id="age"  name="Age" placeholder="Enter Your age" ngModel [ngModelOptions]="{standalone:false}">
      </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>
    </div>
  </form>

  <h2> With Reactive Forms </h2>
  <form class="fHome" [formGroup]="myForm" (ngSubmit)="print()">
    <div class="form-group">
      <label for="Fname">First Name</label>
      <input type="text" class="form-control" id="Fname" name="FirstName" placeholder="Enter Your first name" formControlName="fName" >
      <div class="alert alert-danger" role="alert" *ngIf="myForm.get('fName').touched && myForm.get('fName').hasError('required')">
        Error for First Name !
      </div>  
      <div class="alert alert-danger" role="alert" *ngIf="myForm.get('fName').hasError('minlength')">
        Minimmum 5 caracts !
      </div> 
    </div>
    <div class="form-group">
      <label for="LName">Last Name</label>
      <input type="text" class="form-control" id="LName"  name="LatName" placeholder="Enter Your last name" formControlName="lName">
      <div class="alert alert-danger" role="alert" *ngIf="myForm.get('lName').touched && myForm.get('lName').hasError('required')">
        This Last Name is required !
      </div>
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age"  name="Age" placeholder="Enter Your age" formControlName="age">
        <div class="alert alert-danger" role="alert" *ngIf="myForm.get('age').touched && myForm.get('age').hasError('required')">
          This Age is required !
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email"  name="email" placeholder="Enter Your Email" formControlName="email" required>
        <div class="alert alert-danger" role="alert" *ngIf="myForm.get('email').touched && myForm.get('email').hasError('required')">
          This email is required !
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="myForm.get('email').hasError('email')">
          This is not email !
        </div>
      </div>

      <div class="form-group" formArrayName="items">
        <div *ngFor="let item of myForm.controls.items['controls'];index as i" [formGroupName]="i">
          <input type="text" formControlName="id" >
          <input type="text" formControlName="title">
          <button (click)="Delete(i)" class="btn btn-danger" >×</button>
        </div>
      </div>

    <div class="form-group">
      <button (click)="addNewItem()" class="btn btn-primary">Add new</button>
    </div>

    <div formArrayName="inputs" class="form-group">
      <div *ngFor="let input of myForm.controls.inputs['controls'];index as i" [formGroupName]="i">
        <input type="text" formControlName="id" #test>
        <button (click)="DeleteInput(i)" class="btn btn-danger" >×</button>
      </div>
    </div>

    <div class="form-group">
      <button (click)="addNewInput()" class="btn btn-primary">Add new input</button>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid" >Submit</button>
    </div>
  </form>

  <input type="text" #test>



