<!-- <input type="text" [(ngModel)]="Nom">
<div>
    <button class="btn btn-primary" (click)="goToDetails()">
        Details profil
    </button>
    <button class="btn btn-success" (click)="goToView()">
        View profil
    </button>
</div> -->
<h2>With  Template Driven Forms </h2>
<form class="fHome" #f="ngForm" (ngSubmit)="add(f)">
    <div class="form-group">
      <label for="Fname">First Name</label>
      <input type="text" class="form-control" id="Fname" name="FirstName" placeholder="Enter Your first name" ngModel [ngModelOptions]="{standalone:false}"
      #firstName="ngModel" required  minlength="5" maxlength="15">
      <div class="alert alert-danger" role="alert" *ngIf="firstName.errors?.['required'] && firstName.touched || firstName.errors?.['minlength']">
        Error for First Name !
      </div>
    </div>
    <div class="form-group">
      <label for="LName">Last Name</label>
      <input type="text" class="form-control" id="LName"  name="LatName" placeholder="Enter Your last name" ngModel [ngModelOptions]="{standalone:false}"
      #lastName="ngModel" required>
      <div class="alert alert-danger" role="alert" [hidden]="lastName.valid || lastName.pristine">
        This Last Name is required !
      </div>
    </div>
    <div class="form-group">
        <label for="age">Last Name</label>
        <input type="number" class="form-control" id="age"  name="Age" placeholder="Enter Your age" ngModel [ngModelOptions]="{standalone:false}">
      </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>
    </div>
  </form>



  <h2> With Reactive Forms </h2>
  <form class="fHome" [formGroup]="myForm" (ngSubmit)="print()">
    <div class="form-group">
      <label for="Fname">First Name</label>
      <input type="text" class="form-control" id="Fname" name="FirstName" placeholder="Enter Your first name" formControlName="fName">
      <!-- <div class="alert alert-danger" role="alert">
        Error for First Name !
      </div> -->
    </div>
    <div class="form-group">
      <label for="LName">Last Name</label>
      <input type="text" class="form-control" id="LName"  name="LatName" placeholder="Enter Your last name" formControlName="lName">
      <!-- <div class="alert alert-danger" role="alert" [hidden]="lastName.valid || lastName.pristine">
        This Last Name is required !
      </div> -->
    </div>
    <div class="form-group">
        <label for="age">Last Name</label>
        <input type="number" class="form-control" id="age"  name="Age" placeholder="Enter Your age" formControlName="age">
      </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
  </form>


